/*color*/

$grey: #404041;
$lblue: #649ab2;
$dblue: #42789e;
$dtype: #2b2b28;
$ltype: #ffffff;

/*fonts*/

$primary-font: sans-serif;

/*headersize*/

$header-height-S: 60px;
$header-height-L: 80px;

/*navsize*/

$nav-width-S: 260px;

/*z-index*/

$below-content: 1;
$content: 2;
$above-content: 3;
