@use '../kit' as *;

.overlay {
  background:$black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  @include scale(1.1);
  -webkit-transition: all 450ms ease-out, background 0s 600ms;
  -moz-transition: all 450ms ease-out, background 0s 600ms;
  -o-transition: all 450ms ease-out, background 0s 600ms;
  transition: all 450ms ease-out, background 0s 600ms;
  h2 {
    margin-bottom:$r-space;
    font-weight: 700;
  }
  &.open {
    opacity: 1;
    pointer-events: initial;
    @include scale(1);
  }
}
.overlay-projects {
  ul {
    padding-left:0;
    margin-top:0px;
    padding-top:16px;
    margin-bottom: -16px;
    li {
      a {
        padding: 0;
        margin-bottom: 18px;
        padding-bottom:22px;
        position: relative;
        display: block;
        position:relative;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        @include transition(350ms);
        &:after {
          content:"";
          display:block;
          height:2px;
          width:100%;
          position:absolute;
          left:0;
          bottom:0;
          opacity:0.2;
        }
        .projectmenu-number {
          font-size: 13px;
          letter-spacing: 0.5px;
          font-weight: 400;
          position: absolute;
          opacity: $opacity;
          top: 6px;
          left: 0;
        }
        .projectmenu-title {
          padding-left:$r-space;
          font-size: 20px;
        }
      }
      a:hover {
        background-size: 100% 2px;
        color:#fff !important;
      }
      &:nth-child(odd) a {
        margin-right:16px;
      }
      &:nth-child(even) a {
        margin-left:16px;
      }
    }
  }
}
.overlay-contact {
  h2, .overlay-contact-background {
    margin-left:$m-space;
  }
  .overlay-contact-background {
    background: #030303;
    height: calc(100% - 73px);
    border-radius: $border-radius;
  }
  .overlay-email {
    position: absolute;
    bottom: $s-space;
    left: $r-space;
  }
  .overlay-social {
    position: absolute;
    bottom: $r-space;
    right: $r-space;
    .menu-social {
      line-height: 0;
      a {
        padding:0 4px;
        svg {
          width:$s-space;
        }
      }
      &:last-child {
        a {
          padding-right:0;
        }
      }
    }
  }
}
@media only screen and (max-width:$m-breakpoint) {
  .overlay {
    overflow-y: scroll;
    .overlay-container {
      display: block;
      .overlay-content {
        display: block;
        h2 {
          margin-bottom: $s-space;
        }
      }
    }
  }
  .overlay-projects {
    padding-top: 104px;
    .project-list-wrap {
      padding-top:8px;
    }
    ul {
      padding-top:0px;
      margin-bottom: 0px;
      li {
        a {
          margin-bottom: 16px;
          padding-bottom:20px;
          .projectmenu-number {
            font-size: 12px!important;
            top: 4px !important;
          }
          .projectmenu-title {
            font-size: 17px !important;
            padding-left:$s-space;
          }
        }
        flex: 0 0 100% !important;
        &:nth-child(odd) a {
          margin-right:0;
        }
        &:nth-child(even) a {
          margin-left:0;
        }
      } 
    }
  }
  .overlay-contact {
    padding-top: 24px;
    padding-bottom: 140px;
    h2, .overlay-contact-background {
      margin-left:0;
    }
    .overlay-contact-background {
      height: 240px;
    }
  }
}