@use '../kit' as *;

#project-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height:calc(100vh - 52px);
	max-height:1100px;
	min-height: 800px;
}
.project-meta, .project-visual {
	width:50%;
	.project-metainner, .project-visualinner {
	  	img {
	  		width:100%;
	  		border-radius: $border-radius;
	  		@include shadow(rgba(0,0,0,0.12));
	  	}
	}
	&.mobile-app {
		.project-metainner, .project-visualinner {
			.app-flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		  	img {
		  		width:calc(33.33333333% - 16px);
		  	}
		}
	}
}
.project-meta {
	.project-intro {
		max-width: 85%;
	}
	.project-detail {
		text-transform:uppercase;
		.meta-title {
			color: $white;
		}
		.detail-item {
			text-transform:initial;
			display:block;
		}
	}
	.project-link {
		margin-top: 22px;
	}
}

@media only screen and (max-width:$l-breakpoint) {
	#project-hero {
		display: block;
		height:auto;
		max-height:100%;
		min-height:0px;
	}
	.project-meta, .project-visual {
		width:100%;
		margin-bottom: $l-space;
		.project-metainner {
			padding-top: calc(#{$l-space} - #{$r-space});
			margin-bottom: $l-space;
		}
	}
	.project-meta {
		.project-intro {
			max-width: 65%;
		}
	}
}
@media only screen and (max-width:$m-breakpoint) {
	.project-meta {
		.project-intro {
			max-width: 100%;
		}
	}
}