@use 'kit' as *;

.hero-messaging {
	padding-top: calc(#{$xl-space} - #{$header-height});
	padding-bottom: $xl-space;
	max-width: 700px;
}
.home-grid {
	.project-card {
		display: block;
	    height: 70vh;
	    margin-bottom: $r-space;
	    max-height: 800px;
	    min-height: 520px;
	    position: relative;
	    // &:hover {
	    // 	@include shadowbig(rgba(0,0,0,0.2));
	    // 	@include scale(1.01);
	    // }
	    .project-background {
	    	mix-blend-mode: multiply;
	    	@include transition(2s);
	    }
	    .project-info {
	    	height: calc(100% - #{$l-space});
	    	padding-top: $m-space;
	    	padding-bottom: $m-space;
	    	max-width: 620px;
	    	margin: 0 auto 0 0;
	    	.project-svg {
	    		height: 50px;
	    	}
	    	.inline-arrow {
	    		display:inline-block;
	    		width: auto;
	    		height: 22px;
	    		opacity:0;
	    		margin-left: -4px;
	    		@include transition(350ms);
	    	}
	    	.meta-title {
	    		margin-bottom: 0;
	    	}
	    }
	    &:last-child {
	    	margin-bottom: 0;
	    }
	    &:hover {
	    	.project-background {
	    		@include scale(1.15);
	    		@include transition(10s);
	    	}
	    	.inline-arrow {
			    opacity: 1;
			    margin-left: 1px;
	    	}
	    }
	}
}

@media only screen and (max-width:$m-breakpoint) {
	.hero-messaging {
		padding-top: calc(#{$l-space} - #{$r-space});
		padding-bottom: $l-space;
	}
	.home-grid {
		.project-card {
			height: 320px;
			min-height: 320px;
			margin-bottom: $s-space;
			.project-info {
				height: calc(100% - #{$m-space});
				padding-top: $s-space;
				padding-bottom: $s-space;
				.inline-arrow {
					height: 16px;
				}
				.project-svg {
					height: 45px;
				}
			}
		 }
	}
}

