html {
	background:#f1f1f1;
	overflow-x:hidden;
}
body.open {
	overflow:hidden;
	height:100vh;
}
#wrapper {
	position: relative;
	padding-left:12.5%;
	padding-right:12.5%;
	@include transition(350ms);
}
body, .overlay-contents {
	max-width:2000px;
	margin:0 auto;
	@include transition(350ms);
}
.overlay-contents {
	padding-left:12.5%;
	padding-right:12.5%;
	max-width:1500px;
}
html.js #barba-wrapper {
	opacity: 0;
}
@media only screen and (max-width: 1600px) {
	body, .overlay-contents {
		padding-left:5%;
		padding-right:5%;
		overflow: hidden;
	}
	#wrapper {
		padding-left:0;
		padding-right:0;
	}
}