@use 'kit' as *;

// SF UI Text
@font-face {
  font-family: 'SFUIText';
  src: url('../assets/fonts/SF-UI-Text-Regular.woff') format('woff'),
       url('../assets/fonts/SF-UI-Text-Regular.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: "SFUIText";
  src: url('../assets/fonts/SF-UI-Text-Semibold.woff') format('woff'),
       url('../assets/fonts/SF-UI-Text-Semibold.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  600;
}
// SF UI Display
@font-face {
  font-family: "SFUIDisplay";
  src: url('../assets/fonts/SF-UI-Display-Regular.woff') format('woff'),
       url('../assets/fonts/SF-UI-Display-Regular.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: "SFUIDisplay";
  src: url('../assets/fonts/SF-UI-Display-Medium.woff') format('woff'),
       url('../assets/fonts/SF-UI-Display-Medium.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  500;
}
@font-face {
  font-family: "SFUIDisplay";
  src: url('../assets/fonts/SF-UI-Display-Semibold.woff') format('woff'),
       url('../assets/fonts/SF-UI-Display-Semibold.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  600;
}
html {
  font-family: "SFUIText", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: $white;
  font-weight: 400;
  font-size:16px;
  line-height: 1.4;
}
h1 {
  font-family: "SFUIDisplay", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.2;
  letter-spacing: 0.2px;
  margin: $xs-space 0;
}
h2 {
  font-family: "SFUIDisplay", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size:  2.125rem;
  line-height: 1.2;
  letter-spacing: 0.2px;
  margin: $xs-space 0;
}
.meta-title {
  font-family: "SFUIDisplay", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size:  0.75rem;
  letter-spacing: 2px;
  text-transform:uppercase;
  span {
    padding:0 4px;
    opacity: $opacity;
  }
  &.hero {
    font-weight: 600;
    font-size: 0.875rem;
  }
}
p {
  font-size: 1.125rem;
  margin: $xs-space 0;
}
blockquote {
  .blockquote-bug {
    display:block;
    width: 32px;
    margin-bottom:$xs-space;
    height:auto;
    path {
      fill:$white;
    }
  }
  margin-left: 0;
  font-size: 1.125rem;
  font-style: italic;
  position:relative;
  margin: $xs-space 0;
}
.desktop-alignright {
  text-align: right;
}
.desktop-aligncenter {
  text-align: center;
}
.no-margin {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  @include transition(350ms);
  color: $white;
  text-decoration: none;
  svg.white-icon path {
    fill:$white;
  }
  &.underlined {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    padding-bottom:1px;
    &:hover {
      background-size: 100% 1px;
    }
  }
}
.hoverstate {
  opacity: 1;
  &:hover {
    opacity: 0.65;
  }
}
.btn-sml, .btn-disabled {
  font-weight: 500;
  font-size: 1.125rem;
  text-transform:uppercase;
  position:relative;
  padding-bottom:4px;
  display: inline-block;
  border-color: inherit;
  overflow: hidden;
  @include transition(350ms);
}

.btn-sml:before, .btn-sml:after, .btn-disabled:before, .btn-disabled:after {
    width: 100%;
    border-bottom:2px solid;
    border-color: inherit;
    display: block;
    content: '';
    -webkit-transition:  transform .4s ease-in-out, border-color 350ms ease-out 600ms;
    -moz-transition:    transform .4s ease-in-out, border-color 350ms ease-out 600ms;
    -o-transition:    transform .4s ease-in-out, border-color 350ms ease-out 600ms;
    transition:       transform .4s ease-in-out, border-color 350ms ease-out 600ms;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.btn-sml:before, .btn-disabled:before {
    -moz-transform: translate(-101%,0);
    -o-transform: translate(-101%,0);
    -ms-transform: translate(-101%,0);
    -webkit-transform: translate(-101%,0);
    transform: translate(-101%,0);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.btn-sml:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.btn-sml:hover:after {
    -moz-transform: translate(101%,0);
    -o-transform: translate(101%,0);
    -ms-transform: translate(101%,0);
    -webkit-transform: translate(101%,0);
    transform: translate(101%,0);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
svg {
  fill: $white;
}
.brand svg {
  height:$xs-space;
  padding:$padding;
}
::-moz-selection {
  color: $black;
  background: rgba(255,255,255,0.99);
}
::selection {
  color: $black; 
  background: rgba(255,255,255,0.99);
}
@media only screen and (max-width:$m-breakpoint) {
  h1 {
    font-size:2rem;
  }
  h2 {
    font-size:1.35rem;
  }
  p, li, blockquote {
    font-size:1rem;
  }
  .meta-title {
    font-size:  0.65rem;
    &.hero {
      font-size: 0.75rem;
    }
  }
  .tablet-aligncenter {
    text-align: center;
  }
  .btn-sml, .btn-disabled {
    font-size: 1rem;
  }
}