/****COLORS*****/

$grey: #F1f1f1;
$darkgrey: #585858;
$black: #1B1B1B;
$white: #FFF;
$primaryhover: rgba(0,0,0,.5);

$desktopspace: 100px;
$tabletspace: 50px;

$mobiletop: 12%;
$mobilebottom: 8%;
$mobileside: 5%;