---
layout: main
---
<div id="barba-wrapper">
	<div class="barba-container" data-namespace="project">
		<style>
			.btn-sml:before, .btn-sml:after, .btn-disabled:before, .btn-disabled:after {
				border-color:#{{ page.hex2 }};
			}
			::-moz-selection {
				color:#{{ page.hex }};
			}
			::selection {
				color:#{{ page.hex }};
			}
			html, header nav .brand-change .brand-animation svg, html.js .burger-wrap, .intro-stream, .overlay {
				background:#{{ page.hex }};
			}
			.overlay-projects ul li a:after {
				background:#{{ page.hex2 }};
			}
			p, .projectmenu-number, .overlay .loader-link, blockquote {
				color:#{{ page.hex2 }} !important;
			}
		</style>
		<main class="project {{ page.title | slugify }}">
			<div class="wrapper">
				<section data-aos="zoom-out-down" id="project-hero">
					<div class="project-meta slide-left">
						<div class="project-metainner">
							<div>
								{% if page.title %}
									<h1 class="title">{{ page.title }}</h1>
								{% endif %}
								{% if page.metadescription %}
									<p class="project-intro">{{ page.metadescription }}</p>
								{% endif %}
								{% if page.agency %}
									<p class="project-detail"><span class="meta-title">Studio</span><span class="detail-item">{{ page.agency }}</span></p>
								{% endif %}
								{% if page.role %}
									<p class="project-detail"><span class="meta-title">Role{% if page.role2 %}s{% endif %}</span><span class="detail-item">{{ page.role }}{% if page.role2 %}, {{ page.role2 }}{% endif %}{% if page.role3 %}, {{ page.role3 }}{% endif %}</span></p>
								{% endif %}
								{% if page.hyperlink %}
									{% if page.hyperlink contains "Coming Soon" %}
									    <p class="project-link"><a class="btn-disabled" style="border-color:#{{ page.hex }};cursor:not-allowed;"><span>Launching Soon</span></a></p>
									{% else %}
										{% if page.device contains "desktop" or page.device == "desktop" %}
										    <p class="project-link"><a href="{{ page.hyperlink }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};"><span>Launch The Site</span></a></p>
										{% endif %}
										{% if page.device contains "mobile" or page.device == "mobile" %}
										    <p class="project-link"><a href="{{ page.hyperlink }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};"><span>The App Store</span></a></p>
										{% endif %}
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
					{% if page.device contains "desktop" or page.device == "desktop" %}
						{% if page.herographic %}
							<div class="project-visual slide-right">
			    				<div class="project-visualinner">
			    					<div>
			    						<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.herographic }}" alt="{{ page.herographicalt }}">
			    					</div>
			    				</div>
			    			</div>
		    			{% endif %}
		    		{% endif %}
		    		{% if page.device contains "mobile" or page.device == "mobile" %}
		    			{% if page.herographic-1 and page.herographic-2 and page.herographic-3 %}
			    			<div class="project-visual slide-right mobile-app">
			 					<div class="project-visualinner">
			 						<div class="app-flex">
			 							<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.herographic-1 }}" alt="{{ page.herographic-1alt }}">
			 							<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.herographic-2 }}" alt="{{ page.herographic-2alt }}">
			 							<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.herographic-3 }}" alt="{{ page.herographic-3alt }}">
			 						</div>
			 					</div>
			 				</div>
		 				{% endif %}
		 			{% endif %}
				</section>
			</div>
			<!--PROJECT CONTENT-->
			<section id="project-content">
				{% if page.metaimg %}
					<div data-aos="fade-up" class="bigimage-streamfield project-streamfield">
						<div class="image-bleed image-fit">
							<img src="{{ site.baseurl }}/assets/{{ page.metaimg }}" alt="{{ page.introimgalt }}">
						</div>
					</div>
				{% endif %}
				{% if page.screens1title or page.screens1description %}
					<div data-aos="fade-up" class="content-streamfield project-streamfield wrapper flex-container align-center">
						<div class="content-wrapper">
							{% if page.screens1title %}
								<h2>{{ page.screens1title }}</h2>
							{% endif %}
							{% if page.screens1description %}
								<p>{{ page.screens1description }}</p>
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if page.screens1desktop and page.screens2desktop and page.screens3desktop %}
					<div data-aos="fade-up" class="screens-streamfield project-streamfield wrapper no-top-padding flex-container align-center desktop-aligncenter">
						<div class="flex-container">
							<div class="desktop-screen image-fit flex-third">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens1desktop }}" alt="{{ page.screens1desktopalt }}">
							</div>
							<div class="desktop-screen image-fit flex-third center-screen">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop }}" alt="{{ page.screens2desktopalt }}">
							</div>
							<div class="desktop-screen image-fit flex-third">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens3desktop }}" alt="{{ page.screens3desktopalt }}">
							</div>
						</div>
					</div>
				{% endif %}
				{% if page.screens1firstimage and page.screens1secondimage and page.screens1thirdimage and page.screens1fourthimage %}
					<div data-aos="fade-up" class="app-streamfield project-streamfield wrapper no-top-padding flex-container flex-between align-center">
						{% if page.screens1firstimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens1firstimage }}" alt="{{ page.screens1firstimagealt }}">
							</div>
						{% endif %}
						{% if page.screens1secondimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens1secondimage }}" alt="{{ page.screens1secondimagealt }}">
							</div>
						{% endif %}
						{% if page.screens1thirdimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens1thirdimage }}" alt="{{ page.screens1thirdimagealt }}">
							</div>
						{% endif %}
						{% if page.screens1fourthimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens1fourthimage }}" alt="{{ page.screens1fourthimagealt }}">
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if page.bustoutimage %}
					<div data-aos="fade-up" class="bigimage-streamfield project-streamfield">
						<div class="image-bleed image-fit">
							<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.bustoutimage }}" alt="{{ page.bustoutimagealt }}">
						</div>
					</div>
				{% endif %}
				{% if page.screens2title or page.screens2description or page.screens2linktext or page.screens2linkurl %}
					<div data-aos="fade-up" class="content-streamfield project-streamfield wrapper flex-container align-center">
						<div class="content-wrapper">
							{% if page.screens2title %}
								<h2>{{ page.screens2title }}</h2>
							{% endif %}
							{% if page.screens2description %}
								<p>{{ page.screens2description }}</p>
							{% endif %}
							{% if page.screens2linkurl and page.screens2linktext %}
								<p class="project-link"><a href="{{ page.screens2linkurl }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};">{{ page.screens2linktext }}</a></p>
							{% endif %}
						</div>
					</div>
				{% endif %}
				

				{% if page.screens2desktop1 and page.screens2desktop2 %}
					<div data-aos="fade-up" class="desktopapp-streamfield project-streamfield wrapper flex-container flex-between align-center">
						{% if page.screens2desktop1 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop1 }}" alt="{{ page.screens2desktop1alt }}">
							</div>
						{% endif %}
						{% if page.screens2desktop2 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop2 }}" alt="{{ page.screens2desktop2alt }}">
							</div>
						{% endif %}
						{% if page.screens2desktop3 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop3 }}" alt="{{ page.screens2desktop3alt }}">
							</div>
						{% endif %}
						{% if page.screens2desktop4 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop4 }}" alt="{{ page.screens2desktop4alt }}">
							</div>
						{% endif %}
						{% if page.screens2desktop5 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop5 }}" alt="{{ page.screens2desktop5alt }}">
							</div>
						{% endif %}
						{% if page.screens2desktop6 %}
							<div class="desktopapp-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2desktop6 }}" alt="{{ page.screens2desktop6alt }}">
							</div>
						{% endif %}
					</div>
				{% endif %}


				{% if page.screens2firstimage and page.screens2secondimage and page.screens2thirdimage and page.screens2fourthimage %}
					<div data-aos="fade-up" class="app-streamfield project-streamfield wrapper flex-container flex-between align-center">
						{% if page.screens2firstimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2firstimage }}" alt="{{ page.screens2firstimagealt }}">
							</div>
						{% endif %}
						{% if page.screens2secondimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2secondimage }}" alt="{{ page.screens2secondimagealt }}">
							</div>
						{% endif %}
						{% if page.screens2thirdimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2thirdimage }}" alt="{{ page.screens2thirdimagealt }}">
							</div>
						{% endif %}
						{% if page.screens2fourthimage %}
							<div class="app-image">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.screens2fourthimage }}" alt="{{ page.screens2fourthimagealt }}">
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if page.screens3title or page.screens3description or page.screens3linkurl or page.screens3linktext %}
					<div data-aos="fade-up" class="content-streamfield project-streamfield wrapper flex-container align-center">
						<div class="content-wrapper">
							{% if page.screens3title %}
								<h2>{{ page.screens3title }}</h2>
							{% endif %}
							{% if page.screens3blockquote %}
								<blockquote>
									<svg class="blockquote-bug" width="226px" height="172px" viewBox="0 0 226 172" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <path d="M51.4,171.2 C77.2,171.2 97,152.6 97,126.8 C97,98 76,84.8 58.6,84.8 C49.6,84.8 44.8,86.6 41.8,89.6 L38.8,88.4 C46,62 68.8,38 102.4,26.6 L71.2,0.2 C22.6,22.4 0.4,64.4 0.4,107.6 C0.4,144.2 18.4,171.2 51.4,171.2 Z M174.4,171.2 C200.2,171.2 220,152.6 220,126.8 C220,98 199,84.8 181.6,84.8 C172.6,84.8 167.8,86.6 164.8,89.6 L161.8,88.4 C169,62 191.8,38 225.4,26.6 L194.2,0.2 C145.6,22.4 123.4,64.4 123.4,107.6 C123.4,144.2 141.4,171.2 174.4,171.2 Z" fill-rule="nonzero"></path>
									    </g>
									</svg>
									{{ page.screens3blockquote }}
								</blockquote>
							{% endif %}
							{% if page.screens3description %}
								<p>{{ page.screens3description }}</p>
							{% endif %}
							{% if page.screens3linkurl and page.screens3linktext %}
								<p class="project-link"><a href="{{ page.screens3linkurl }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};">{{ page.screens3linktext }}</a></p>
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if content %}
					{{ content }}
				{% endif %}
				{% if page.outroimage %}
					<div data-aos="fade-up" class="bigimage-streamfield project-streamfield">
						<div class="image-bleed image-fit">
							<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.outroimage }}" alt="{{ page.outroimagealt }}">
						</div>
					</div>
				{% endif %}
			</section>

			<section data-aos="fade-in" id="project-end" class="wrapper desktop-aligncenter">
				{% if page.hyperlink %}
					{% if page.hyperlink contains "Coming Soon" %}
					    <p class="project-link"><a class="btn-disabled" style="border-color:#{{ page.hex }};cursor:not-allowed;"><span>Launching Soon</span></a></p>
					    {% if page.bug %}
						    <div>
						    	<div>
						    		<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.bug }}" alt="{{ page.title }} Logo Graphic">
						    	</div>
						    </div>
					    {% endif %}
					{% else %}
						{% if page.device contains "desktop" or page.device == "desktop" %}
						    <p class="project-link"><a href="{{ page.hyperlink }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};"><span>Launch The Site</span></a></p>
						{% endif %}
						{% if page.device contains "mobile" or page.device == "mobile" %}
						    <p class="project-link"><a href="{{ page.hyperlink }}" target="_blank" class="btn-sml" style="border-color:#{{ page.hex }};"><span>The App Store</span></a></p>
						{% endif %}
						{% if page.bug %}
						<div>
							<a href="{{ page.hyperlink }}" target="_blank">
								<img src="{{ site.baseurl }}/assets/portfolio/{{ page.title | slugify }}/{{ page.bug }}" alt="{{ page.title }} Logo Graphic">
							</a>
						</div>
						{% endif %}
					{% endif %}
				{% endif %}
			</section>

			{% if page.collection %}
			    {% assign links = site[page.collection] | sort:"order"  %}
			{% endif %}

			{% for link in links %}
			{% if link.title == page.title %}

			{% if forloop.first %}
			{% assign prev_index = forloop.length|minus:1 %}
			{% assign next_index = forloop.index0|plus:1 %}
			{% elsif forloop.last %}
			{% assign prev_index = forloop.index0|minus:1 %}
			{% assign next_index = 0 %}
			{% else %}
			{% assign prev_index = forloop.index0|minus:1 %}
			{% assign next_index = forloop.index0|plus:1 %}
			{% endif %}

			{% assign next = links[next_index] %}
			{% assign prev = links[prev_index] %}

			{% endif %}
			{% assign tmpprev = link %}
			{% endfor %}

			<div class="wrapper">
				<section data-aos="fade-in" id="related-projects" class="flex-container flex-between align-center">
					{% if prev %}
						<div class="related-card" style="background-color:#{{ prev.hex }};">
			    	        <a href="{{ site.baseurl }}{{ prev.url }}" class="related-spread loader-link image-fit fit-right" data-hue="#{{ prev.hex }}">
			    	        	<img src="{{ site.baseurl }}/assets/portfolio/{{ prev.title | slugify }}/{{ prev.cardbackground }}" alt="{{ prev.title }} Feature Graphic">
			    	            <div class="related-info">
			    	                <svg class="related-svg" viewBox="{{ prev.svg-box }}"><use xlink:href="#{{ prev.title | slugify }}-brand" /></svg>
			    	            </div>
			    	        </a>
			    	 	</div>
			    	 {% endif %}
			    	 {% if next %}
			    	 	<div class="related-card" style="background-color:#{{ next.hex }};">
			    	        <a href="{{ site.baseurl }}{{ next.url }}" class="related-spread loader-link image-fit fit-right" data-hue="#{{ next.hex }}">
			    	        	<img src="{{ site.baseurl }}/assets/portfolio/{{ next.title | slugify }}/{{ next.cardbackground }}" alt="{{ next.title }} Feature Graphic">
			    	            <div class="related-info">
			    	                <svg class="related-svg" viewBox="{{ next.svg-box }}"><use xlink:href="#{{ next.title | slugify }}-brand" /></svg>
			    	            </div>
			    	        </a>
				    	</div>
				    {% endif %}
				</section>
			</div>

		</main>
		<div class="wrapper">
			{% include footer.html %}
		</div>
	</div>
</div>